
@media screen and (max-width:1200px) {
    #navbar{
        display:none;
    }
    #hamburgerNav{
        display: flex;

        .hamburgerIcon{
            display: block;
        }
    }
    
}

@media screen and (min-width:1200px) {
    #hamburgerNav{
        display:none;
    }
}

@media screen and (max-width: 1200px){

    .profile{
display: block;

    }
}

