
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{

 font-family: "Poppins", sans-serif;

}

p{
    color: rgb(85,85,85);
}

html{
scroll-behavior: smooth;   

/* it will scroll to the linked page smoothly (using #idName in anchor tag) */

}


nav, .navLinks {
display: flex;
}

nav{
    height: 17vh;
    justify-content: space-around;
    align-items: center;
    
}

.navLinks{
/* display: inline-block; */
list-style: none; 
/* to remove the bullet points  */
font-size: 1.5rem;
gap: 2rem;

}

.1 , .2 , .3, .4{
    display: inline-block;
}

a{
     text-decoration: none;
     text-decoration-color: white;
     color: black;
}

a:hover{

color: gray;
text-decoration: underline;
text-underline-offset: 1rem; 
/* space between the text and underline */
text-decoration-color: rgb(181, 181, 181);
}


.logo{

    font-size: 2rem;
}

.logo:hover{

    cursor: default;
}

.hamburgerIcon{
    display: none;
    width: 40px;
}

.hamburgerMenu {
  position: relative;
  display: inline-block;
}


section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;

}

.imageSection{
 display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.btn { 
    
  font-weight: 600;
  /* transition: all 300ms ease; */
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: small;
  
}
.btn1:hover{
background-color: black;
  color: white;
}
.btn2{
    background-color: black;
  color: white;
}

.intro{

    margin-top: 100px;
    text-align: center;
    /* align-self: centre; */
}

.p1, p2{
    font-weight: 600;
    margin-bottom: 0rem;
}

.h1{
    font-size: 10 rem;
    padding-top: 0rem;
    padding-bottom: 0rem;

    margin-top: 0rem;
    margin-bottom: 0rem;
}
.p2{
    font-size: 4 rem;
    font-weight: 400;
    margin-top: 0rem;
 }

/* .ul1, .ul2 {
  list-style-image: url("assets/tick.png");
} */


.ulContainer{
    display: flex;
    justify-content: center;
    gap: 5rem;


}

.skillContainerOne{

    border: 2px solid black;
    border-radius: 35px;
    padding: 30px;
}

.innerText{
    text-align: center;
    font-size: larger;
    margin-top: 0px;
}

.skillsContainer{
    display: flex;
}
/* .skillContainer2{
    border: 2px solid black;
    height: 100px;
    width: 100px;
} */

.skillsContainer{
     display: flex;
    justify-content: space-around;
    gap: 5rem;
}


.cardContainer{

    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: nowrap;

    
}

.imgP{

    height: 250px;
    width: 250px;
}

.card1, .card2, .card3{
    padding: 30px;
    border-radius: 30px;

width: 300px;
border: 2px solid gray;
/* display: flex;
flex-direction: column;
justify-content: center; */


}


.btnP1{
padding: 10px;
width: 120px;
border-radius: 20px;
margin-left: 60px;

}
.btnP1:hover{

    opacity: 0.5;
}

.h1P{
    text-align: center;
}




.contactContainer{

    display: flex;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 30px;

    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    /* width: 600px; */
    gap: 2rem;

}

.email{
 
    display: flex;
    cursor: pointer;
}
.linkedin{
    padding-top: 7px;
    display: flex;
    gap: 0.5rem;
    

}
.contactLinks{

    display: flex;
    justify-content: center;
}


#contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oneSkill{
display: flex;
gap: 1rem;

}

.oneSkill h2{
    color: grey;
}
.tick{
    padding-top: 20px;
    height: 40px;
}
.skillCard1{

    border: 1.5px solid grey;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    

}

.skillCard2{

    border: 1.5px solid grey;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;

}

.skillCardsContainer{
display: flex;
justify-content: center;
gap: 5rem;

}

#skills{

display: flex;
flex-direction: column;
justify-content: center;

}

.cardImg{
    width: 30px;
}
.aboutContainer{
    display: flex;
}


/*  */

.aboutContainer {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.imgContainer {
  width: 350px;
  /* height: px; */
  background: lightgray;
  border-radius: 10px;
   border-radius: 30px;
}

.aboutDetailsContainer {
  flex: 1;
}

.cardsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  background: #f9f9f9;
}

.cardImg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.aboutSideImg{

    width: 350px;
    border-radius: 30px;
}

.aboutContainer{
    display: flex;
}
